/* styles.css */

/* Variables para colores */
:root {
    --primary-color: #3453db;
    --secondary-color: #2c3e50;
    --background-color: #416088;
    --text-color:var(--primary-color);
    --light-text-color: #95a5a6;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    color: var(--text-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Esto asegura que los contenedores se centren verticalmente en la página */
    flex-wrap: wrap; /* En caso de que los contenedores no quepan en una sola fila, se ajustarán adecuadamente */

}

.container-left, .container, .container-right {
    box-sizing: border-box; /* Esto asegura que el padding no afecte el ancho total del contenedor */
    padding: 20px;
    margin: 0 auto;
    border: 1px solid #ccc; /* Agrega un borde para visualizar los contenedores */
    flex: 1; /* Esto les da a los contenedores la capacidad de crecer y ocupar el espacio disponible */
    max-width: calc(100% / 5 - 20px); /* Esto asegura que los contenedores no ocupen más del 33% del ancho total de la pantalla, restando los márgenes */
    background-color: #a1a1a1;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    --background-color: #ffffff;
    border: none; /* Elimina el borde */
    border-radius: 10px; /* Agrega bordes redondeados */
    margin: 20px; /* Añade un pequeño margen entre los contenedores */
}

.container-left{
    
    height: 500px;
}

.container-right{
    height: 500px;
    max-height: 500px;  /* Ajusta este valor según la altura deseada */
    
    /* Establecemos que el contenido se desplace en caso de que exceda el tamaño del contenedor */
    overflow-y: auto;
}




.container {
    max-width: 800px;
}





h1, h2, h3 {
    color: var(--primary-color);
    margin-top: 20px;
    
}

input[type="number"]{
    width: 12%;
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid var(--light-text-color);
    border-radius: 4px;
    background-color: var(--background-color);
    font-size: 16px;
    margin-top: 5px;
    text-align: center;
}

#apuestaBOutput{
    width: 12%;
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid var(--light-text-color);
    border-radius: 4px;
    background-color: var(--background-color);
    font-size: 16px;
    margin-top: 5px;
    text-align: center;
}

select {
    width: 100%;
}



.input-group2 {
    margin-left: 20px;
    display: flex;
    justify-content: start;  /* Alinea los elementos al inicio del contenedor */
    align-items: baseline;   /* Alinea el texto de base de los elementos */
    margin-bottom: 15px;     /* Ajusta según lo cerca que quieras que estén los grupos */

}

.input-group2 label {
    margin-right: 5px;      /* Espacio entre el label y el input, puedes ajustarlo según prefieras */
    flex: 0 0 auto;         /* Permitir que el label se ajuste según su contenido */
    
}

.input-group2 input{
    width: 25%;
    text-align: center;
}



.ganador{
    font-size: 14px;
    font-weight: bold;
}


    

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #42c5af;
}

.balance-display {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 15px;
    border-radius: 4px;
    margin-top: 20px;
}

.balance-display p {
    margin: 5px 0;
}

.notification {
    padding: 10px;
    border-radius: 4px;
    margin-top: 15px;
    background-color: #f39c12;
    color: #fff;
}

.notification.error {
    background-color: #e74c3c;
}

.notification.success {
    background-color: #2ecc71;
}

.divisas{
    max-width: 100px;
}

.ganador{
    max-width: 150px;
}




.img-flag {
    width: 18px;

}

.creditos{
    text-align: center;
}



label {
    display: block;
    margin-top: 0px;
    font-weight: bold;
}


button.selected {
    background-color: #4CAF50; /* Color verde, puedes cambiarlo */
    color: white;
}

.copy-btn {
    cursor: pointer;
    --primary-color: #3453db;
    padding: 6px 6px;
    margin-left: 5px;
    border-radius: 4px;
    border: none;

}

.toast {
    visibility: hidden;
    max-width: 600px;
    height: 50px;
    line-height: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 9999;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    transform: translateX(-50%);
    transition: visibility 0.5s, opacity 0.5s linear;
    opacity: 0;
}
.toast.show {
    visibility: visible;
    opacity: 1;
}

.fiar {
    display: inline;
    gap: 10px; /* Esto agrega un espacio entre los checkboxes */
}


#popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    z-index: 1000; /* Asegurarse de que aparezca por encima de otros contenidos */
}
/* Estilo básico para el fondo oscurecido del pop-up */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999; /* Aparece detrás del pop-up */
}


#historialPartidas {
    max-height: 200px; /* Puedes ajustar esta medida a lo que necesites */
    overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */
    padding-right: 15px; /* Para evitar que el scroll estreche el contenido, este valor se puede ajustar */
}









/* Media Queries */
@media only screen and (max-width: 1630px) {
    .container-left, .container, .container-right {
        max-width: calc(100% / 3 - 20px); /* Ajustar el ancho de los contenedores para pantallas más pequeñas */
    }
}
/* Ajustes para pantallas medianas como tablets */
@media (max-width: 100px) {
    body {
        flex-direction: column; /* Cambia la dirección a columna para que los contenedores se apilen verticalmente */
    }

    .container-left, .container, .container-right {
        max-width: 100%; /* Los contenedores ahora ocuparán el ancho completo de la pantalla */
        margin-bottom: 20px;
    }

    input[type="number"], .input-group2 input {
        width: 70%; /* Aumenta el ancho para mejor visibilidad en pantallas pequeñas */
        margin: 10px auto; /* Centra los campos de entrada */
    }
    
    select {
        width: 70%; /* Aumenta el ancho para mejor visibilidad en pantallas pequeñas */
        margin: 10px auto; /* Centra el elemento select */
    }

    .input-group2 {
        flex-direction: column; /* Los elementos se apilarán verticalmente */
        align-items: center; /* Centra los elementos horizontalmente */
    }

    .input-group2 label {
        margin-right: 0; 
        margin-bottom: 5px; /* Espacio entre el label y el input en modo vertical */
    }
}

@media only screen and (max-width: 1200px) {
    body {
        flex-direction: column; /* Cambia la dirección a columna para que los contenedores se apilen verticalmente */
    }

    .container-left, .container, .container-right {
        max-width: 100%; /* Los contenedores ahora ocuparán el ancho completo de la pantalla */
        margin-bottom: 20px;
    }

    input[type="number"], .input-group2 input {
        width: 70%; /* Aumenta el ancho para mejor visibilidad en pantallas pequeñas */
        margin: 10px auto; /* Centra los campos de entrada */
    }
    
    select {
        width: 70%; /* Aumenta el ancho para mejor visibilidad en pantallas pequeñas */
        margin: 10px auto; /* Centra el elemento select */
    }

    .input-group2 {
        flex-direction: column; /* Los elementos se apilarán verticalmente */
        align-items: center; /* Centra los elementos horizontalmente */
    }

    .input-group2 label {
        margin-right: 0; 
        margin-bottom: 5px; /* Espacio entre el label y el input en modo vertical */
    }
}

@media only screen and (max-width: 768px) {
    .container-left, .container, .container-right {
        max-width: 100%; /* Ajustar el ancho de los contenedores para dispositivos móviles */
        margin-bottom: 20px; /* Añadir un margen inferior para espaciar los contenedores en pantallas pequeñas */
    }
}

@media (max-width: 768px) {
    body {
        flex-direction: column; /* Cambia la dirección a columna para que los contenedores se apilen verticalmente */
    }

    .container-left, .container, .container-right {
        max-width: 100%; /* Los contenedores ahora ocuparán el ancho completo de la pantalla */
        margin-bottom: 20px;
    }

    input[type="number"], .input-group2 input {
        width: 70%; /* Aumenta el ancho para mejor visibilidad en pantallas pequeñas */
        margin: 10px auto; /* Centra los campos de entrada */
    }
    
    select {
        width: 70%; /* Aumenta el ancho para mejor visibilidad en pantallas pequeñas */
        margin: 10px auto; /* Centra el elemento select */
    }

    .input-group2 {
        flex-direction: column; /* Los elementos se apilarán verticalmente */
        align-items: center; /* Centra los elementos horizontalmente */
    }

    .input-group2 label {
        margin-right: 0; 
        margin-bottom: 5px; /* Espacio entre el label y el input en modo vertical */
    }
}

